In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
import joblib

In [6]:
# import dataset

from sklearn.datasets import load_iris
iris_data = load_iris()

In [12]:
df = pd.DataFrame(iris_data.data,columns=iris_data.feature_names)

In [13]:
df['target'] = iris_data.target

In [14]:
# dataframe is read now

df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [15]:
# check the target name

iris_data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [18]:
df['target names'] = df['target'].map({i:name for i,name in enumerate(iris_data.target_names)})

In [19]:
# final df

df.head()

   sepal length (cm)  sepal width (cm)  ...  target  target names
0                5.1               3.5  ...       0        setosa
1                4.9               3.0  ...       0        setosa
2                4.7               3.2  ...       0        setosa
3                4.6               3.1  ...       0        setosa
4                5.0               3.6  ...       0        setosa

[5 rows x 6 columns]

In [20]:
# info about df

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
 5   target names       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [22]:
# checking null value

df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
target names         0
dtype: int64

In [23]:
# category count

df['target names'].value_counts()

target names
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [28]:
# let's go ahead to create binary class dataset

df = df[df['target names'] != 'virginica']

In [29]:
# let's check post filter

# category count

df['target names'].value_counts()

target names
setosa        50
versicolor    50
Name: count, dtype: int64